
matplotlib==3.7.0
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.2
scipy==1.10.1

tqdm==4.64.1
einops==0.4.0
sympy==1.11.1
sktime==0.16.1
patool==1.12
torch==1.7.1

reformer-pytorch==1.4.4

omegaconf
opt_einsum
IPython
statsmodels



